<template>
  <div class="about">
    <h1>Has activado el modo background</h1>
      <p>{{ mensaje }}</p>
  </div>
</template>

<script>
//import axios from "axios";

export default {
    name: 'About',
    data(){
        return{
            mensaje : "",
            posiciones : []
        }
    },
    mounted() {
        //Aqui activamos el plugin de modo background
        /*window.cordova.plugins.backgroundMode.setEnabled(true);

        window.cordova.plugins.backgroundMode.on('activate', function() {
            window.cordova.plugins.backgroundMode.disableWebViewOptimizations();
        });

        window.cordova.plugins.backgroundMode.setDefaults({
            title : "Primer plano",
            text : "Estamos en primer plano"
        });

        navigator.geolocation.getCurrentPosition((pos)=>{

            this.posiciones.push({lat : pos.coords.latitude, lon : pos.coords.longitude});

            axios.post('https://ximenezdesarrollo.datablue.es/check',
                {

                    lat : pos.coords.latitude,
                    lon : pos.coords.longitude
                },
                {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                })
                .then(function (response) {
                    this.mensaje = "Primera para el persmiso: "+response.data;

                })
                .catch(function (error) {
                    this.mensaje = error;
                });
        }, (error)=>{
            this.mensaje = 'code: '    + error.code    + '\n' +
                'message: ' + error.message + '\n';
        });
        setInterval(this.preguntarSegundoPlano, 5000);*/
        window.BackgroundGeolocation.configure({
            locationProvider: window.BackgroundGeolocation.ACTIVITY_PROVIDER,
            desiredAccuracy: window.BackgroundGeolocation.HIGH_ACCURACY,
            stationaryRadius: 50,
            distanceFilter: 50,
            notificationTitle: 'Background tracking',
            notificationText: 'enabled',
            debug: true,
            interval: 10000,
            fastestInterval: 5000,
            activitiesInterval: 10000,
            url: 'https://ximenezdesarrollo.datablue.es/check.php',
            httpHeaders: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            // customize post properties
            postTemplate: {
                lat: '@latitude',
                lon: '@longitude'
            }
        });
        alert("Configurao");
        window.cordova.plugins.BackgroundGeolocation.start();
        alert("Start geolocation...");
        /*window.cordova.plugins.BackgroundGeolocation.switchMode(window.cordova.plugins.BackgroundGeolocation.BACKGROUND_MODE);

        window.cordova.plugins.BackgroundGeolocation.on('location', function(location) {
            window.cordova.plugins.backgroundMode.configure({
                text: "Location: " + location
            });
            window.cordova.plugins.BackgroundGeolocation.startTask(function(taskKey) {

                axios.post('https://ximenezdesarrollo.datablue.es/check.php',
                    {
                        location : location
                    },
                    {headers: {'Content-Type': 'application/x-www-form-urlencoded'}})
                    .then(function (response) {
                        window.cordova.plugins.backgroundMode.configure({
                            text: "Enviada - "+ response.data
                        });
                        window.cordova.plugins.BackgroundGeolocation.endTask(taskKey);
                    })
                    .catch(function (error) {
                        alert(error);
                        window.cordova.plugins.BackgroundGeolocation.endTask(taskKey);
                    });


            });
        });*/
    },
    methods : {
        /*preguntarSegundoPlano : function (){
            if(window.cordova.plugins.backgroundMode.isActive()){
                window.cordova.plugins.backgroundMode.setDefaults({
                    title : "Ubicando en segundo plano",
                    text : "Estamos en segundo plano"
                });

                try{
                    navigator.geolocation.getCurrentPosition((pos) => {

                        let posicionAnterior = this.posiciones[this.posiciones.length - 1];

                        if (posicionAnterior.lat !== pos.coords.latitude || posicionAnterior.lon !== pos.coords.longitude) {
                            this.posiciones.push({lat: pos.coords.latitude, lon: pos.coords.longitude});
                            axios.post('https://ximenezdesarrollo.datablue.es/check.php',
                                {

                                    lat: pos.coords.latitude,
                                    lon: pos.coords.longitude
                                },
                                {
                                    headers: {
                                        'Content-Type': 'application/x-www-form-urlencoded'
                                    }
                                })
                                .then(function (response) {
                                    window.cordova.plugins.backgroundMode.configure({
                                        text: "Lat: " + pos.coords.latitude + " - Lon: " + pos.coords.longitude
                                    });
                                    console.log(response.data);
                                })
                                .catch(function (error) {
                                    alert(error);
                                });
                        }
                    }, (error) => {
                        axios.post('https://ximenezdesarrollo.datablue.es/check.php',
                            {
                                error : error
                            },
                            {
                                headers: {
                                    'Content-Type': 'application/x-www-form-urlencoded'
                                }
                            })
                            .then(function (response) {
                                window.cordova.plugins.backgroundMode.configure({
                                    text: "Error: " + error
                                });
                                console.log(response.data);
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
                    });
                }catch(e){
                    axios.post('https://ximenezdesarrollo.datablue.es/check.php',
                        {
                            error : e
                        },
                        {
                            headers: {
                                'Content-Type': 'application/x-www-form-urlencoded'
                            }
                        })
                        .then(function (response) {
                            window.cordova.plugins.backgroundMode.configure({
                                text: "Error: " + e
                            });
                            console.log(response.data);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                }
            }
        }*/
    }
}
</script>
