<template>
    <div>
        <h1>Esto solo es una prueba de el modo Background en Cordova</h1>
        <h3>Pulsa en el siguiente botón para empezar la prueba</h3>
        <button @click="$router.push('/about')">Iniciar</button>
    </div>
</template>

<script>

export default {
  name: 'Home'
}
</script>
